html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.fl-cl,
.fl-rw {
  display: flex;
}

.fl-cl {
  flex-flow: column;
}

.content {
  justify-content: space-between;
  min-height: 1vh;
}

.actionbox {
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  padding: 30px 12px;
  margin: 60px 3vw;
  flex: 1;
  max-width: 750px;
  min-width: 300px;
  border-radius: 10px;
  gap: 20px
}

h1,
h2,
h3 {
  margin: 0;
}

.footer {
  text-align: center;
}

.info.container {
  align-items: center;
  margin: 45px 120px 70px;
}

.container {
  display: flex;
  justify-content: center;
}

.quote.container {
  background-color: #e5e7eb;
}

.quotebox {
  margin: 60px 120px;
}

.quoter {
  text-align: right;
  margin-right: 30px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.quote-text {
  max-width: 650px;
  min-width: 300px;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.top,
.footer {
  background-color: #1F2937;
}

body {
  margin: 0;
}

.page {
  justify-content: space-between;
}

.footer {
  padding: 30px;
  color: white;
}

button {
  padding: auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: #3882F6;
  font-weight: bold;
}

.hero button {
  border: 0;
  margin-top: 15px;;
}

.action-text {
  color: white;
}

.header {
  justify-content: space-between;
  margin: 20px 4vw;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.herobox {
  justify-content: center;
  gap: 30px 50px;
  margin: 20px 4vw 40px;
  flex-wrap: wrap-reverse;
}

#header-logo {
  width: 250px;
}

#heroimg {
  width: 100%;
}

.top-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-links li a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  display: inline-block;
}

.top-links li a:hover {
  background-color: #080b0f83;
}

.gallery {
  margin-top: 25px;
  text-align: center;
  gap: 30px;
  flex-wrap: wrap;
  min-width: 350px;
  justify-content: center;
}

.infobox img {
  border: 3px solid black;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  margin-bottom: 3px;
}

.infobox img:hover {
  transform: scale(1.05);
}

.info h2 {
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
}

.hero h1 {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero .text {
  font-size: 18px;
  color: #e5e7eb
}

.hero.left {
  /* min-width: 300px; */
  max-width: 550px;
}

.hero.right {
  max-width: 400px;
}

@media screen and (max-width: 588px) {
  .header {
    justify-content: center;
  }
}